@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #deb99e;
  --seconadry-color: #0d0d0d;
}

header {
  background-color: rgba(255, 255, 255, 0.013);
  backdrop-filter: blur(2px);
  z-index: 99999;
}

.secondary-heading,
.main-heading {
  letter-spacing: 6px;
}

.explore_more button {
  width: 13rem;
  transition: all 200ms ease-in-out;
}

.explore_more button img {
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.explore_more button:hover {
  width: calc(6.25rem + 8.25rem);
  background-color: var(--primary-color);
  color: var(--seconadry-color);
}

.explore_more button:hover .explore_arrow {
  opacity: 1;
}
.work {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
html {
  scroll-behavior: smooth;
}
input {
  color: black;
}
#make {
  display: none;
}
#solid {
  display: none;
}
#class {
  display: none;
}

#class {
  width: 0%;
  z-index: 99999999;
  background-color: #0d0d0d;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

#class.show {
  width: 80%;
}
.responsive_image {
  display: none;
}

.hello {
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.hello::before {
  background: linear-gradient(360deg, hsla(0, 0%, 100%, 0), #000);
  content: "";
  height: 100%;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transition: 0.3s;
  width: 100%;
  z-index: 99;
}
.hello:hover::before {
  opacity: 0;
}

.hello:hover {
  filter: grayscale(0);
  
}

.man {
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.man::before {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #000);
  content: "";
  height: 100%;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transition: 0.3s;
  width: 100%;
  z-index: 99;
}
.man:hover::before {
  opacity: 0;
}

.man:hover {
  filter: grayscale(0);
}
.imgtatoo_1 {
  display: none;
}

@media screen and (max-width: 800px) {
  #section7_4 {
    display: none;
  }
  #section7_3 {
    right: -5.5rem;
  }
  #section6_1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #img1 {
    display: none;
  }
  .responsive_image {
    display: block;
  }
  #bos {
    letter-spacing: normal;
  }
  #make, #section3, #section4, #section5, #section6 {
    display: block;
  }
  #make {
    margin-bottom: 1rem;
    padding: 0;
  }
  #make a{
    padding: .5rem 3rem;
    display: block;
    margin: auto;
    max-width: fit-content;
    transition: all .3s ease;
  }
  #section7_1 {
    border: groove;
    flex-direction: column;
    align-items: center;
  }
  #vj {
    width: 160px;
  }
  #solid {
    display: block;
  }
  #class {
    display: block;
  }
  #imgtatoo {
    display: none;
  }
  .imgtatoo_1 {
    display: block;
  }
}
.slidediv {
  width: 0%;
  overflow: hidden;
  transition: width 0.3s ease;
}

.slidediv.show {
  width: 75% !important;
  overflow: visible !important;
}
.po{
  background-color: #112a2de6;
}
.car{
  display: flex;
  justify-content: space-around;
}
.mk{
  margin-top: 11rem;
}
.ani1{
  width: 31.5rem;
}
#section2{
  margin-top: 10rem;
  padding-top: 2rem;
}